{% extends 'base.html.twig' %}

{% block title %}Legal stuff{% endblock %}

{% block body %}
<main class="container mt-5 mb-5" role="main">
    <div class="example-wrapper mt-5 mb-5 text-center">
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim labore dicta sit cupiditate nisi, fuga veniam neque ipsam facere commodi fugit velit aperiam molestiae reiciendis ea magni minima expedita perspiciatis.
        </p>
    </div>
</main>
{% endblock %}
