{% extends 'base.html.twig' %}

{% block body %}
    <main class="container mt-5 mb-5" role="main">
    <div class="example-wrapper mt-5 mb-5 text-center">
        <h1>Error 403</h1>
        <img src="{{ asset('../public/img/403cutyrabbit.png') }}" alt="lapin mib">
        
        <h1>Access Forbidden</h1>

        <p>
            Where do you think you're going ?
            Have a look here please
        </p>
    </div>
</main>
{% endblock %}