{% extends 'base.html.twig' %}

{% block body %}
    <main class="container mt-5 mb-5" role="main">
    <div class="example-wrapper mt-5 mb-5 text-center">
        <h1>Error 500</h1>
        <img src="{{ asset('../public/img/500cutyrabbit.png') }}" alt="lapin destructeur de serveur">
        
        <h1>Internal Server Error</h1>

        <p>
            The server encountered an internal error.
            Sorry, it looks like some rabbit misbehaved...
        </p>
    </div>
</main>
{% endblock %}