{% extends 'base.html.twig' %}

{% block body %}
    <main class="container mt-5 mb-5" role="main">
    <div class="example-wrapper mt-5 mb-5 text-center">
        <h1>Error 404</h1>
        <img src="{{ asset('../public/img/404cutyrabbit.png') }}" alt="lapin enquêteur">
        
        <h1>Page not found</h1>

        <p>
            We recruited our best agent to investigate.
            It seems the page you're looking for doesn't exist.
        </p>
    </div>
</main>
{% endblock %}